{:lein true

 :dev-http {8081 "public"}
 :nrepl {:port 55555}

 :builds       {:app {:target     :browser
                      :output-dir "public/scripts/"
                      :modules    {:core {:init-fn web.app/run}}
                      :devtools   {:after-load web.app/reload}}}}
